<footer class="footer">
    <div>
        <div class="footer-container">
            <ul class="footer_navList">
                <li class="footer-navList-item"><a href="/aboutus">About Us</a></li>
                <li class="footer-navList-item"><a href="/faq">FAQs</a></li>
                <li class="footer-navList-item"><a href="/contactus">Contact Us</a></li>
                <li class="footer-navList-item"><a href="/howitworks">How It Works</a></li>
            </ul>
        </div>

        <div class="footer-container">
            <div class="footer-img">
                <img class="footer-img-element" src="/img/bookswap_vert.png">
            </div>

            <ul class="footer_navList">
                <li class="footer-navList-item font12"><a href="/tc">Terms & Conditions</a></li>
                <li class="footer-navList-item font12"><a href="/participatingunis">Participatinig Universities</a></li>
            </ul>
        </div>
    </div>
</footer>


<style type="text/css">
    .footer-container {
        max-width: 960px;
        margin: auto;
    }

    .footer {
        border-top: 1px solid #fff;
        background-color: #004F8B;
        text-align: center;
        padding: 50px 0;
    }

    .footer_navList {
        color: #a7a7a7;
        display: inline-block;
    }

    .footer-navList-item {
        display: inline;
        font-size: 14px;
        padding-right: 20px;
    }

    .footer-navList-item a {
        color: #fff !important;
        text-decoration: none;
    }

    .font12 {
        font-size: 12px !important;
    }

    .footer-img {
        display: inline-block;
    }

    .footer-img-element {
        width: 100px;
    }
    
</style>
