<footer class="footer">
    <div>
        <div class="footer-container">
            <ul class="footer_navList">
                <li class="footer-navList-item"><a target="_blank" href="/">About Us</a></li>
                <li class="footer-navList-item"><a target="_blank" href="/">FAQs</a></li>
                <li class="footer-navList-item"><a target="_blank" href="/">Contact Us</a></li>
                <li class="footer-navList-item"><a target="_blank" href="/">How It Works</a></li>
            </ul>
        </div>

        <div class="footer-container">
            <div class="footer-img">
                <img class="footer-img-element" src="/img/bookswap_vert.png">
            </div>

            <ul class="footer_navList">
                <li class="footer-navList-item font12"><a target="_blank" href="/">Terms & Conditions</a></li>
                <li class="footer-navList-item font12"><a target="_blank" href="/">Privacy Policy</a></li>
            </ul>
        </div>
    </div>
</footer>



<style type="text/css">
    .footer-container {
        max-width: 960px;
        margin: auto;
    }

    .footer {
        margin-top: 40px;
        background-color: #004F8B;
        text-align: center;
        padding: 15px 0;
    }

    .footer_navList {
        color: #a7a7a7;
        display: inline-block;
    }

    .footer-navList-item {
        display: inline;
        font-size: 14px;
        padding-right: 20px;
    }

    .footer-navList-item a {
        color: #fff !important;
        text-decoration: none;
    }

    .font12 {
        font-size: 12px !important;
    }

    .footer-img {
        /*float: left;*/
        display: inline-block;
    }

    .footer-img-element {
        width: 100px;
    }


</style>
<!-- <div class="footer_aboutUs">
    <div class="container">
        <ul class="footer_navList" style="font-size: 0; text-transform: capitalize; list-style: none; color: #a7a7a7;">
            <li><a target="_blank" rel="noopener" href="https://www.toppr.com/guides/">Guides</a></li>
            <li><a href="/about/">About Us</a></li>
            <li><a href="/press/">Press</a></li>
            <li><a href="/customer-stories/">Customer Stories</a></li>
            <li><a href="https://toppr.breezy.hr/">Jobs</a></li>
            <li><a href="https://community.toppr.com/">Educators</a></li>
            <li><a target="_blank" href="https://blog.toppr.com/">Blog</a></li>
            <li><a target="_blank" href="https://www.toppr.com/bytes/">Bytes</a></li>
            <li><a href="/contact-us/">Contact Us</a></li>
            <li><a href="/faq/">FAQs</a></li>
        </ul>
    </div>
</div>

<div class="container footer_bottom">
        <ul class="footer_navList footer_services">
            <li class="topprLogo"></li>
            <li><a href="/terms/">Terms of Service</a></li>
            <li><a href="/privacy/">Privacy Policy</a></li>
        </ul>

        <ul class="footer_socialLinks">
            
            <li class="fb">
                <a href="https://www.facebook.com/beingToppr" target="_blank"></a>
            </li>
        
            <li class="youtube">
                <a href="https://www.youtube.com/channel/UCcErZD9wUPQONYaoRXWX-hw" target="_blank"></a>
            </li>
        
            <li class="linkedin">
                <a href="https://www.linkedin.com/company/3341410" target="_blank"></a>
            </li>
        
            <li class="medium">
                <a href="https://in.pinterest.com/beingToppr" target="_blank"></a>
            </li>
        
            <li class="twitter">
                <a href="https://twitter.com/myToppr" target="_blank"></a>
            </li>
        
            <li class="instagram">
                <a href="https://www.instagram.com/mytoppr/" target="_blank"></a>
            </li>
            
        </ul>
    </div> -->