<header>
    {{#if isAuthenticated}}
    <div class="topnav">
        
        <div class="leftalign">
            <a href="/">
                <img class="header-logo" src="../img/bookswap_horiz.png" alt="Icon">
            </a>
        </div>

        <div class="rightalign">
            <a href="/mywishlist" class="text-color navtabs">Wish List</a>
            <a href="/userbooks/{{username}}" class="text-color navtabs">My Books</a>
            <a href="/postbook" class="text-color navtabs">Post a Book</a>

            <div style="position: relative;">
                <div class='icon'>
                    <div class="hamburger"></div>
                </div>
            </div>
        </div>

        <div class="side-bar">
            <div class="side-bar-item"><a class="two" href="/mywishlist">Wish List</a></div>
            <div class="side-bar-item"><a class="two" href="/userbooks/{{username}}" class="text-color">My Books</a></div>
            <div class="side-bar-item"><a class="two" href="/postbook" class="text-color">Post a Book</a></div>
            <div class="side-bar-item">Contact History</div>
            <div class="side-bar-item">How It Works</div>
            <div class="side-bar-item">FAQ</div>
            <div class="side-bar-item">Participating Universities</div>
            <div class="side-bar-item">Contact Us</div>
            <div class="side-bar-item">About Us</div>
            <div class="side-bar-item">Terms & Conditions</div>
            <div class="side-bar-item"><a class="two" href="/logout" class="text-color">Sign Out</a></div>
        </div>

    </div>
    {{/if}}   
</header>