<header>
    <div class="topnav">
        {{#if isAuthenticated}}
        <div class="leftalign">
            <a href="/">
                <img src="../img/bookswap_horiz.png" alt="Icon" style="width: 300px">
            </a>
        </div>
        <div class="rightalign">
            <a href="/mywishlist" class="text-color">Wish List</a>
            <a href="/userbooks/{{username}}" class="text-color">My Books</a>
            <a href="/logout" class="text-color">Logout</a>
        </div>
        {{/if}}
    </div>
</header>