<header>
    {{#if isAuthenticated}}
    <div class="topnav">
        
        <div class="leftalign">
            <a href="/">
                <img class="header-logo" src="../img/bookswap_horiz.png" alt="Icon">
            </a>
        </div>

        <div class="rightalign">
            <a href="/mywishlist" class="text-color navtabs">Wish List</a>
            <a href="/userbooks/{{username}}" class="text-color navtabs">My Books</a>
            <a href="/postbook" class="text-color navtabs">Post a Book</a>

            <div style="position: relative;">
                <div class='icon'>
                    <div class="hamburger"></div>
                </div>
            </div>
        </div>

        <div class="side-bar">
            <div class="side-bar-item"><a class="two" href="/mywishlist">Wish List</a></div>
            <div class="side-bar-item"><a class="two" href="/userbooks/{{username}}" class="text-color">My Books</a></div>
            <div class="side-bar-item"><a class="two" href="/postbook" class="text-color">Post a Book</a></div>
            <div class="side-bar-item">Contact History</div>
            <div class="side-bar-item"><a class="two" href="/howitworks">How It Works</a></div>
            <div class="side-bar-item"><a class="two" href="/faq">FAQ</a></div>
            <div class="side-bar-item"><a class="two" href="/participatingunis">Participating Universities</a></div>
            <div class="side-bar-item"><a class="two" href="/contactus">Contact Us</a></div>
            <div class="side-bar-item"><a class="two" href="/aboutus">About Us</a></div>
            <div class="side-bar-item"><a class="two" href="/t&c">Terms & Conditions</a></div>
            <div class="side-bar-item"><a class="two" href="/logout" class="text-color">Sign Out</a></div>
        </div>

    </div>
    {{#if (secondHeader url)}}
    <div>
        <div class="topnav">
            <div class="form-container-search">
                <table>
                    <tr>
                        <td>
                            <form method="POST" action="/searchresults">
            	                <div class="text-center">
                                    <div class="input-group input-group-lg">
                                        <input type="text" class="form-control text-center width170 index" required name="search" id="round-inputleft" placeholder="ISBN, Author or Title">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default btn-lg" id="round-inputright" type="submit">
                                                <span class="glyphicon glyphicon-search" id="search-dimension" aria-hidden="true"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </td>
                        <td>
                            <div class="text-color">-Or-</div>
                        </td>
                        <form method="POST" action="/searchresults">
                            <td>
                                <div class="input-group input-group-lg">
                                    <input type="text" class="form-control input-lg text-center width240 index" required name="university" id="round" placeholder="College or University">
                                </div>
                            </td>
                            <td>
                                <div class="input-group input-group-lg">
                                    <input type="text" class="form-control input-lg text-center width240 index" required name="department" id="round" placeholder="Subject or Department">
                                </div>
                            </td>
                            <td>
                                <div class="input-group input-group-lg">
                                    <input type="text" class="form-control text-center width170 index" required name="course" id="round-inputleft" placeholder="Course or Course Number">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default btn-lg" id="round-inputright" type="submit">
                                                <span class="glyphicon glyphicon-search" id="search-dimension" aria-hidden="true"></span>
                                            </button>
                                        </span>
                                </div>
                            </td>
                        </form>
                    </tr>    
                </table>
                <div class="text-color">*All Fields Required</div>
            </div>
        </div>
    </div>
    {{/if}}
    {{/if}}   
</header>