<body style="overflow-x: hidden;">
	<div class="aboutus-container">
		
		<h1 class="pt-40 pb-20">About Us</h2>


		<div>
			<div style="width: 635px; display: inline-block; height: 545px;">
				<h2 style="margin-bottom: 45px;">About the Founder</h2>
				<p style="font-size: 16px; margin-bottom: 35px;">
					Pursuing his Masters in Business Administration (M.B.A) from NJIT, Chris got this idea and wanted to implement it in the form of a Web Application. He thought it would be easy for users to log on to BookSwap.com, use their accounts and look up books.
				</p>
				<img class="founder-img" src="/img/ratanSq.png">
			</div>


			<div style="width: 635px; display: inline-block; height: 545px;">
				<h2 class="pb-30">Meet our Founding Team</h3>

				<img src="/img/ratanSq.png" class="founding-team-img">

				<img src="/img/ratanSq.png" class="founding-team-img">
				
				<img src="/img/ratanSq.png" class="founding-team-img">

				<img src="/img/ratanSq.png" class="founding-team-img">
			</div>
		</div>
	</div>
</body>