<body style="overflow-x: hidden; margin: auto;">
	<div class="faq-container text-center" style="">
		
		<h1 class="pt-40 pb-20">FREQUENTLY ASKED QUESTIONS (FAQs)</h1>
		
		<h2>HOW CAN I CHANGE MY SHIPPING ADDRESS?</h2>
		<p>
			By default, the last used shipping address will be saved into to your Sample Store account. When you are checking out your order, the default shipping address will be displayed and you have the option to amend it if you need to.
		</p>

		<h2>HOW DO I ACTIVATE MY ACCOUNT?</h2>
		<p>
			The instructions to activate your account will be sent to your email once you have submitted the registration form. If you did not receive this email, your email service provider’s mailing software may be blocking it. You can try checking your junk / spam folder or contact us at help@samplestore.com
		</p>

		<h2>WHAT DO YOU MEAN BY POINTS? HOW DO I EARN IT?</h2>
		<p>
			Because you are important to us, we want to know what you think about the products. As an added value, every time you rate the products you earn points which go straight to your account. 1 point are added to your account for every review that you give. You will need those points in order to redeem the sample products. So keep rating the products to keep earning points!
		</p>
	</div>
</body>