<body class="bookswap-body">
        <h1 class="title pt-40">Welcome <span style="text-transform: lowercase;">to</span> BookSwap, {{ username }}</h1>
        
        <h4 class="subtitle font300 pb-30">Please search for a book of your choice</h4>


        <div class="form-container-search">
            <form method="POST" action="/searchresults">
                <table align="center">
                    <tr>
                    	<td>
                    		<div class="text-center">
                            <div class="input-group input-group-lg">
                                <input type="text" class="form-control text-center width170 index" name="search" id="round-inputleft" placeholder="ISBN, Author or Title">
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-lg" id="round-inputright" type="submit">
                                        <span class="glyphicon glyphicon-search" id="search-dimension" aria-hidden="true"></span>
                                    </button>
                                </span>
                            </div>
                            </div>
                                                <!-- /input-group -->
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <div class="text-color">-Or-</div>
                        </td>
                    </tr>
                </table>
            </form>
                
            <form method="POST" action="/searchresults">
            	<table align="center">
                    <tr>
                        <td>
                            <div class="input-group input-group-lg">
                                <input type="text" class="form-control input-lg text-center width240 index" name="university" id="round" placeholder="College or University">
                            </div>     
                        </td>

                        <td>
                            <div class="input-group input-group-lg">
                                <input type="text" class="form-control input-lg text-center width240 index" name="department" id="round" placeholder="Subject or Department">
                            </div>
                        </td>
                        
                        <td>
                            <div class="input-group input-group-lg">
                                <input type="text" class="form-control text-center width170 index" name="course" id="round-inputleft" placeholder="Course or Course Number">
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-lg" id="round-inputright" type="submit">
                                        <span class="glyphicon glyphicon-search" id="search-dimension" aria-hidden="true"></span>
                                    </button>
                                </span>
                            </div>
                        </td>
                    </tr>
                </table>
            </form>
        </div>

        <div class="pt-60">
            <img src="/img/hero-image.png" style="width: 100%">
            <!-- <div style="width: 33.3%; display: inline-block;">
                <img src="/img/hero-image-1.png" style="width: 100%">
            </div>
            <div style="width: 33.3%; display: inline-block;">
                <img src="/img/hero-image-2.png" style="width: 100%">
            </div>
            <div style="width: 33.3%; display: inline-block;">
                <img src="/img/hero-image-3.png" style="width: 100%">
            </div> -->
        </div>

        <div class="white" style="height: 100px; background-color: #fff;"">
            
        </div>
</body>
