<body class="bookswap-body" style="">
    
    <h1 class="title pt-40">Welcome <span class="lowercase">to</span> BookSwap, {{ username }}</h1>
    <h4 class="subtitle font300 pb-30">Please search for a book of your choice</h4>

    <div class="form-container-search">
        <form method="GET" action="/searchresults">
            <table align="center">
                <tr>
                	<td>
                		<div class="text-center">
                            <div class="input-group input-group-lg">
                                <input type="text" class="form-control text-center width170 index" required name="search" id="round-inputleft" placeholder="ISBN, Author or Title">
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-lg" id="round-inputright" type="submit">
                                        <span class="glyphicon glyphicon-search" id="search-dimension" aria-hidden="true"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <div class="text-color">-Or-</div>
                    </td>
                </tr>
            </table>
        </form>
            
        <form method="POST" action="/searchresults">
        	<table align="center">
                <tr>
                    <td>
                        <div class="input-group input-group-lg">
                            <input type="text" class="form-control input-lg text-center width240 index" required name="university" id="round" placeholder="College or University">
                        </div>     
                    </td>

<!-- <<<<<<< HEAD -->
<!--                     <td>
                        <div class="input-group input-group-lg">
                            <input type="text" class="form-control input-lg text-center width240 index" required name="department" id="round" placeholder="Subject or Department">
                        </div>
                    </td>
                    
                    <td>
                        <div class="input-group input-group-lg">
                            <input type="text" class="form-control text-center width170 index" required name="course" id="round-inputleft" placeholder="Course or Course Number">
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-lg" id="round-inputright" type="submit">
                                    <span class="glyphicon glyphicon-search" id="search-dimension" aria-hidden="true"></span>
                                </button>
                            </span>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div> -->
<!-- ======= -->
                        <td>
                            <div class="input-group input-group-lg">
                                <input type="text" class="form-control input-lg text-center width240 index" required name="department" id="round" placeholder="Subject or Department">
                            </div>
                        </td>
                        
                        <td>
                            <div class="input-group input-group-lg">
                                <input type="text" class="form-control text-center width170 index" required name="course" id="round-inputleft" placeholder="Course or Course Number">
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-lg" id="round-inputright" type="submit">
                                        <span class="glyphicon glyphicon-search" id="search-dimension" aria-hidden="true"></span>
                                    </button>
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-top: 0;">
                            <div class="text-color">*All Fields Required</div>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
<!-- >>>>>>> caeb2a8df78afa52f3042fe979843d9a88dd5385 -->

    <div class="pt-60">
        <div style="margin: 50px auto; padding-bottom: 40px;">
            <div style="display: inline-block; width: 26%; margin: 0 3.57% 0 3.57%; padding: 0px; border: 1px solid #fff">
                <a style="display: block;" href="/howitworks"><img src="/img/hero-1.png" style="width: 100%; border: 2px solid #004F8B"></a>
            </div>

            <div style="display: inline-block; width: 26%; margin: 0 3.57% 0 3.57%; padding: 0px; border: 1px solid #fff">
                <a style="display: block;" href="/participatingunis"><img src="/img/hero-2.png" style="width: 100%; border: 2px solid #004F8B"></a>
            </div>

            <div style="display: inline-block; width: 26%; margin: 0 3.57% 0 3.57%; padding: 0px; border: 1px solid #fff">
                <a style="display: block;" href="/aboutus"><img src="/img/hero-3.png" style="width: 100%; border: 2px solid #004F8B"></a>
            </div>
        </div>
    </div>

</body>

