<body class="bookswap-body">
    <div class="register-bookswap-icon">
        <img src="img/bookswap_vert.png" alt="Icon" style="width: 300px">
    </div>
    <div class="form-container">
        <h1 class="title">{{title}}</h1>
        {{#if error}}
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
        {{/if}}
        <br/>
        <br/>
        <form method="POST" action="login">
            <div class="input-group">
                <span class="register-bookswap-textField input-group-addon glyphicon glyphicon-user"></span>
                <input type="text" class="register-bookswap-textField" id="login" required name="username" placeholder="Username">
            </div>
            <div class="input-group">
                <span class="register-bookswap-textField input-group-addon glyphicon glyphicon-lock"></span>
                <input type="password" class="register-bookswap-textField" id="login" required name="password" placeholder="Password">
            </div>
            <br/>
            <button type="submit" class="btn btn-primary btn-lg" id="round" >SIGN IN ></button>
        </form>
    </div>
</body>  