<body class="bookswap-body">
    <div class="register-bookswap-icon">
        <img src="img/bookswap_vert.png" alt="Icon" style="width: 300px">
    </div>
    <div class="form-container">
        <h1 class="title">{{title}}</h1>
        {{#if errors}} {{#each errors}}
        <div class="alert alert-danger" role="alert">
            {{this.msg}}
        </div>
        {{/each}} {{/if}} {{#if dbError}}
        <div class="alert alert-danger" role="alert">
            {{dbError}}
        </div>
        {{/if}}
        <br />
        <br />
        <div class="form-container">
            <form method="POST" action="register">
                <div class="form-group">
                    <!-- <label for="inputUsername" class="register-bookswap-label">Username</label> -->
                    <input type="text" class="register-bookswap-textField" id="login" required name="username" placeholder="username">
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <!-- <label for="inputFirstName">First Name</label> -->
                            <input type="text" class="register-bookswap-textField" id="login" required name="firstName" placeholder="First Name">
                        </div>
                        
                        <div class="col">
                            <!-- <label>Last Name</label> -->
                            <input type="text" class="register-bookswap-textField" id="login" placeholder="Last Name" name="lastName">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <!-- <label for="inputEmail1">Email address</label> -->
                    <input type="email" class="register-bookswap-textField" id="login" required name="email" placeholder="name@domain.com">
                </div>
                <div class="form-group">
                    <!-- <label for="inputPassword">Password</label> -->
                    <input type="password" class="register-bookswap-textField" id="login" required name="password1" placeholder="Password">
                </div>
                <div class="form-group">
                    <!-- <label for="inputConfirmPassword">Confirm Password</label> -->
                    <input type="password" class="register-bookswap-textField" id="login" required name="password2" placeholder="Re-enter Password">
                </div>

                <div class="text-center" style="padding-top: 15px;">
                    <button type="submit" class="btn sign-in-button btn-lg" id="round">SIGN UP ></button>
                </div>
            </form>
        </div>
    </div>
</body>