@import url(https://fonts.googleapis.com/css?family=Lato:300,700);.container {
  max-width: 1170px;
  margin: 0 auto; }

.text-center {
  text-align: center; }

header {
  padding: 12px;
  border-bottom: 1px solid #eee; }

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.header-logo {
  width: 50px; }

.header-nav a {
  display: inline-block;
  margin: 0 5px; }

.index-container {
  height: calc(100vh - 75px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .index-container h1 {
    margin-bottom: 0; }

.body-logo {
  width: 280px; }

.index-nav a {
  display: inline-block;
  margin: 0 3px; }

body {
  margin: 0;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  color: #333; 
}

a {
  color: #00b7ff;
  text-decoration: none; }


.bookswap-body {
  background-color: #1D4A8D;
}

.title {
  font-size: 28px; font-weight: 300;
  color: white;
  text-align: center;
}

.form-container {
  max-width: 600px;
  margin: auto;
}

.register-bookswap-icon {
  margin: auto;
  width: 300px;
}

.register-bookswap-textField {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;

    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border: 1px solid #fff;

    background: #1D4A8D !important;
}

.register-bookswap-label {
	color: #fff;
}

::placeholder {
    color: #fff;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #fff;
}

::-ms-input-placeholder { /* Microsoft Edge */
   color: #fff;