@import url(https://fonts.googleapis.com/css?family=Lato:300,700);

.container {
  max-width: 1170px;
  margin: 0 auto; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left;
}

.text-color{
  color: #fff;
}

.text-color2{
  color: #1B4A97;
}

.rightalign{
  text-align-last: right;
}

.leftalign{
  text-align-last: left;
}

table {
  border-collapse: collapse;
  border-spacing: 50px 0;
}

td {
  padding: 10px 10px;
}

.body-logo {
  width: 280px; }

.index-nav a {
  display: inline-block;
  margin: 0 3px; }

.bookswap-body {
  background-color: #004F8B;
 }

.bookswap-body-white{
  background-color: #F1F1F1
}

.title {
  font-size: 28px; font-weight: 300;
  color: white;
  text-align: center;
}


.subtitle {
  color: white;
  text-align: center;
}

.form-container {
  max-width: 600px;
  margin: auto;
}

.wish-container {
  max-width: 600px;
  margin: auto;
}

.register-bookswap-icon {
  margin: auto;
  width: 300px;
}

.register-bookswap-textField {

    display: block;
    width: 95%;
    padding: .375rem .75rem;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #ffffff;

    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    margin-bottom: 1px !important;
    /*border: 1px solid #fff;*/
    border-bottom: 1px solid #fff;

    background: #004F8B !important;
}

.register-bookswap-label {
	color: #fff;
}

.sign-in-button {
    height: 50px; width: 150px;
    color: #fff;
    background-color: #429cdb;
    border-color: #429cdb !important;
}


input#index::placeholder {
    color:  rgb(0, 79, 139);
    opacity: 1; 
    text-align: center;/* Firefox */
}

input#login::placeholder {
    color: #fff;
    opacity: 1;
}

#round {
	border-radius: 32px;
}

#round-inputleft {
  border-radius: 32px 0 0 32px;
}

#round-inputright {
  border-radius: 0 32px 32px 0;
}

#search-dimension{
  height:21px;
  width:14px;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: rgb(0, 79, 139);
}

::-ms-input-placeholder { /* Microsoft Edge */
   color: rgb(0, 79, 139);
  }

/* Add a black background color to the top navigation */
.topnav {
  background-color: #004F8B ;
  overflow: hidden;
  border-bottom: 1px solid #5B8BBE;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #004F8B ;
  color: #F4D10D;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #004F8B ;
  color: #F4D10D;
}  