.form-container-viewresults {
	font-size: 14px;
	max-width: 960px;
	margin: auto;
}


.viewresults-detail {
	width: 590px;
	display: inline-block;
	height: 110px;
}

.viewresults-detail-title {
	font-size: 22px !important;
	color: #1B4A97 !important;
}

.viewresults-detail-name {
	color: #4F4F4F !important;
	font-size: 14px;
}

.viewresults-detail-value {
	color: #767676 !important;
}

.viewresults-additional {
	width: 240px;
	display: inline-block;
	height: 110px; float: right; padding-top: 20px;
}

.viewresults-detail-left {
	width: 300px;
	float: left;
}

.viewresults-detail-right {
	width: 290px;
    float: right;
}